/* ==UserStyle==
@name           BBS.IO-TECH.fi Classic Dark Theme - Xenforo 2.3
@namespace      USO Archive
@author         johnnymadrid
@description    `BBS.IO-TECH.fi Classic Dark Theme - Xenforo 2.3 Install stylus extension: Chromium based: https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne?hl=enFirefox: https://addons.mozilla.org/en-US/firefox/addon/styl-us/Classic gray theme for bbs.io-tech.fi Xenforo 2.3 update. On the site select one of the dark themes as a base theme. Source: https://gitlab.com/johnnymadrid/userstyles/-/blob/main/bbs.io-tech.fi.classic.gray.user.css`
@version        20250225.19.47
@license        NO-REDISTRIBUTION
@preprocessor   uso
==/UserStyle== */
@-moz-document domain("bbs.io-tech.fi") {
    :root {
        --white: #fff;
        --black: #000;
        --var-transparent: transparent;
        
        --bg-color-1: #1B1A19;
        --bg-color-2: #201F1E;
        --bg-color-3: #292929;
        --bg-color-4: #0C1319;
        --bg-color-5: #181818;
        --bg-color-6: #111111;
        --bg-color-7: #242424;
        --txt-color-1: #C8C6C4;
        --txt-color-2: #E1DFDD;
        --txt-color-3: #A19F9D;
        --txt-color-4: #8A8886;
        --txt-color-5: #979693;
        --txt-gray-color-1: #888;
        --txt-gray-color-2: #444;
        --txt-gray-color-3: #ddd;
        --link-hover-color-1: #E1DFDD;
        --link-hover-color-2: #D2D0CE;
        --link-external-color: #00AACC;
        --border-color-1: #383838;
        --border-color-2: #605E5C;
        --border-color-3: #323130;
        --border-color-4: #434343;
        
        --brand-color: #2dbf5b;
        --warnings-border-color: #94532D;
        --warnings-bg-color: #B1470E;
        --warnings-txt-color: #FBBC98;
        
        --fontSize: 16px;
        --fontSizeSmaller: 14px;
        --fontSizeSmall: 12px;
    }

    body,
    .message-body {
        font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif !important;
    }

    body {
        background-color: var(--bg-color-2);
        color: var(--txt-color-1);
        font-size: var(--fontSize);
    }

    body h1:first-child {
        color: var(--txt-color-2);
    }
        
    .p-body-sidebar {
        font-size: var(--fontSizeSmaller);
    }

    .userBanner strong {
        font-size: 100% !important;
        font-weight: 500 !important;
    }

    .p-nav {
        background-color: var(--bg-color-2) !important;
        border-bottom: 2px solid var(--border-color-1) !important;
    }

    .p-title-value {
        font-size: 1.3em !important;
    }

    .node.node--unread .node-title a,
    .overlay-title,
    .block-formSectionHeader {
        color: var(--txt-color-1) !important;
    }

    .node.node--unread .node-title a:hover,
    .is-unread .structItem-title a:hover,
    .structItem-title a:hover {
        color: var(--link-hover-color-1) !important;
    }

    .node-body .node-icon {
        background-color: var(--bg-color-2) !important;
        padding: 10px !important;
    }

    .structItem-title a,
    .subNodeLink--unread,
    .node--unread .node-icon i:before,
    .subNodeLink.subNodeLink--unread:before,
    .node-icon i:before {
        color: var(--txt-color-1) !important;
        font-weight: 400 !important;
    }

    .node:not(.node--unread) .node-title a,
    .node:not(.node--unread) .node-icon i:before {
        color: var(--txt-color-3) !important;
    }

    .subNodeLink:not(.subNodeLink--unread),
    .subNodeLink:not(.subNodeLink--unread):before {
        color: var(--txt-color-3) !important;
    }

    .subNodeLink:not(.subNodeLink--unread):hover {
        color: var(--link-hover-color-2) !important;
    }

    .is-unread .structItem-title a {
        font-weight: 400 !important;
        color: var(--link-hover-color-2) !important;
    }

    .is-unread .structItem-title:before {
        content: "\2605";
        color: var(--link-hover-color-2) !important;
    }

    .structItem:not(.is-unread) .structItem-cell .structItem-title a {
        color: var(--txt-color-3) !important;
    }

    .structItem:not(.is-unread) .structItem-cell .structItem-title a:hover {
        color: var(--txt-color-1) !important;
    }

    .structItem-cell.structItem-cell--iconIcon i {
        color: var(--txt-color-3) !important;
    }

    .structItemContainer-group:not(.structItemContainer-group--sticky) .structItem.structItem--thread:hover .structItem-cell--icon:first-child {
        background-color: var(--bg-color-2) !important;
    }

    .structItem.structItem--thread:hover {
        background-color: var(--bg-color-3) !important;
    }

    .is-unread .structItem-cell.structItem-cell--iconIcon i {
        color: var(--txt-color-1) !important;
    }

    .p-description {
        color: var(--txt-color-3) !important;
    }

    .message-name {
        padding-bottom: 5px !important;
    }
    
    .message-name a.username {
        font-weight: 600 !important;
    }
    
    .message-name .username--style66 {
        padding-right: 0 !important;
    }

    .message-userExtras,
    .message-userExtras dt {
        background-color: var(--bg-color-3) !important;
        color: var(--txt-color-3) !important;
        margin-top: 0 !important;
    }

    .message-userExtras {
        border-left: 4px solid var(--border-color-1);
        padding: 10px 5px 10px 5px !important;
    }

    .message-userDetails {
        padding-top: 5px;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        background-color: var(--transparent) !important;
        color: var(--txt-color-3) !important;
    }

    .message-avatar {
        padding-top: 15px !important;
        background-color: var(--transparent) !important;
    }

    .message.message--post {
        border: 0 !important;
    }

    .userTitle.message-userTitle {
        padding-bottom: 5px !important;
        font-weight: 500 !important;
    }

    .fa--xf.fal.fa-asterisk:before {
        content: "";
    }

    .node-main > .node-description {
        color: var(--txt-color-3) !important;
        font-size: var(--fontSizeSmall) !important;
    }

    .node-extra-row a {
        color: var(--txt-color-1) !important;
        font-weight: 400 !important;
    }

    .node-extra-row a:hover {
        color: var(--link-hover-color-1) !important;
    }

    .node-extra-row > ul li,
    .node-extra-row .node-extra-user a {
        color: var(--txt-color-3) !important;
        font-weight: 500 !important;
    }

    .node-extra-row .node-extra-user a:hover {
        color: var(--txt-color-1) !important;
    }

    .message-main {
        padding: 0 !important;
        margin: 0 !important;
    }

    .message-cell--main {
        padding: 10px !important;
        background: rgb(27,26,25) !important;
        background: linear-gradient(0deg, rgba(27,26,25,1) 0%, rgba(32,31,30,1) 33%, rgba(32,31,30,1) 100%) !important;
    }

    .message-cell.message-cell--user,
    .message-cell--user {
        padding: 0 !important;
        border-right: 1px solid var(--bg-color-3) !important;
        background: rgb(27,26,25) !important;
        background: linear-gradient(0deg, rgba(27,26,25,1) 0%, rgba(32,31,30,1) 33%, rgba(32,31,30,1) 100%) !important;
    }

    .message-newIndicator {
        background-color: var(--brand-color) !important;
        color: var(--bg-color-4);
    }

    .message-newIndicator:before {
        content: "\2605";
        margin-right: 3px !important;
        vertical-align: top !important;
    }

    .node-body .node-main .node-title a {
        font-weight: 500 !important;
    }

    .node-body .node-main .node-title a:hover {
        color: var(--link-hover-color-1) !important;
    }

    .node--unread .node-title,
    .p-body-sideNav .block-header,
    .p-body-sideNav .block-minorHeader {
        font-weight: 500 !important;
    }

    .block-header .block-header--left {
        font-weight: 500 !important;
    }

    .block-header {
        background: var(--bg-color-2) !important;
        color: var(--txt-color-1) !important;
    }
        
    .subNodeLink.subNodeLink--unread {
        font-weight: 400 !important;
    }

    .p-nav--wrapper {
        position: static !important;
    }

    .p-body-main,
    .p-body-header,
    .p-body-inner {
        background-color: var(--bg-color-1) !important;
    }

    .block-filterBar {
        background-color: var(--bg-color-2) !important;
        border-bottom: 1px solid var(--border-color-3) !important;
    }

    .block-filterBar .filterBar a {
        color: var(--txt-color-3) !important;
        font-weight: 500 !important;
        background-color: var(--bg-color-3) !important;
    }

    .block-filterBar .filterBar a:hover {
        background-color: var(--bg-color-2) !important;
    }

    .filterBar-filterToggle {
        background-color: var(--border-color-3) !important;
    }

    .tabs-tab.is-active {
        border-bottom: 3px solid var(--border-color-2) !important;
        color: var(--txt-color-1) !important;
    }

    .tabs-tab {
        color: var(--txt-color-3) !important;
    }

    .tabs-tab:hover {
        border-bottom: 3px solid var(--txt-color-3) !important;
        color: var(--link-hover-color-1) !important;
    }

    .structItem-cell.structItem-cell--meta,
    .structItem-cell.structItem-cell--meta dl dt,
    .structItem-cell.structItem-cell--meta dl dd,
    .structItem-cell.structItem-cell--latest,
    .structItem-cell.structItem-cell--latest a {
        color: var(--txt-color-3) !important;
        font-size: var(--fontSizeSmall) !important;
    }

    @media only screen and (min-width: 901px) {
        .structItem-cell.structItem-cell--meta {
            width: 165px !important;
        }
    }

    @media only screen and (max-width: 900px) {
        .structItem-cell.structItem-cell--meta {
            width: 135px !important;
        }
    }

    .structItem-cell.structItem-cell--latest a:hover {
        color: var(--link-hover-color-1) !important;
    }

    article.message {
        background-color: var(--bg-color-2) !important;
    }

    .block--messages .message+.message, .block--messages .block-row+.message, 
    .block--messages .message+.block-row, .block--messages .block-row+.block-row {
        margin-top: 2px !important;
        border: 0 !important;
    }

    .block--messages .message,
    .p-footer a,
    .p-footer h3,
    .p-footer-custom .xb-footer-block .block-container .block-body,
    .structItem-status--watched:before {
        color: var(--txt-color-1) !important;
    }

    .block-textHeader {
        color: var(--txt-color-3) !important;
        font-weight: 500 !important;
    }

    .structItemContainer-group--sticky {
        background-color: var(--bg-color-1) !important;
        border-bottom: 4px dashed var(--border-color-3) !important;
    }

    .structItemContainer-group:not(.structItemContainer-group--sticky) .structItem-cell--icon:first-child,
    .structItemContainer .structItem-cell--icon:first-child {
        background-color: var(--bg-color-1) !important;
    }

    .structItemContainer-group--sticky .structItem-cell--icon:first-child {
        background-color: var(--bg-color-2) !important;
    }

    .structItemContainer-group:not(.structItemContainer-group--sticky) {
        background-color: var(--bg-color-2) !important;
    }

    .structItemContainer-group.structItemContainer-group--sticky:after {
        display: none !important;
    }

    .structItem--thread {
        border-top: 1px solid var(--border-color-3) !important;
    }

    .block-body {
        background-color: var(--bg-color-1) !important;
    }

    .rssfeed-date,
    .listInline.listInline--bullet li {
        color: var(--txt-color-3) !important;
    }

    .p-sectionLinks {
        background-color: var(--bg-color-1) !important;
        border-bottom: 0 !important;
    }

    .p-sectionLinks-list {
        color: var(--txt-color-1) !important;
    }
    
    .p-nav-list .p-navEl-link, .p-nav-list .p-navEl-splitTrigger 
    {
        margin-bottom: 0px !important;
    }
        
    .p-navSticky {
        position: static !important;
    }

    .p-navEl {
        text-transform: uppercase !important;
    }

    .navhome .p-navEl-link  {
        color: var(--brand-color) !important;
        font-weight: 600;
    }

    .navhome .p-navEl-link:hover  {
        color: var(--link-hover-color-1) !important;
    }

    .p-navEl.is-selected a {
        background-color: var(--border-color-3) !important;
        color: var(--txt-color-1) !important;
    }

    .p-nav-list .p-navEl.is-selected {
        background-color: var(--border-color-3) !important;
    }

    .p-navgroup.p-account.p-navgroup--member {
        background-color: var(--border-color-3) !important;
    }

    .message-header .message-attribution,
    .block-header-wrapper > h2,
    .p-body-sideNav .block-header {
        background-color: var(--bg-color-3) !important;
        color: var(--txt-color-1) !important;
    }

    .message-attribution ul li a:hover,
    .message-attribution a:hover {
        background-color: var(--transparent) !important;
        color: var(--white) !important;
    }

    .p-footer-custom {
        background-color: var(--bg-color-1) !important;
    }

    .reactionsBar {
        border: 0 !important;
    }

    .reactionsBar a,
    .message-lastEdit,
    .message-footer .message-actionBar a {
        color: var(--txt-color-4) !important;
    }

    .bbCodeBlock-expandContent {
        color: var(--txt-color-1) !important;
        font-size: var(--fontSizeSmaller) !important;
    }

    .message-signature .bbWrapper,
    .structItem-minor,
    .structItem-minor a,
    .structItem-minor .structItem-pageJump a {
        color: var(--txt-color-5) !important;
        font-size: var(--fontSizeSmall) !important;
        font-weight: 500 !important;
    }

    .message-content.js-messageContent {
        display: flex !important;
        flex-flow: column nowrap !important;
        justify-content: space-between !important;
    }

    .message-signature {
        border: 0 !important;
        color: var(--txt-color-4) !important;
    }

    .reactionsBar a:hover {
        color: var(--txt-color-1) !important;
    }

    .reactionsBar img,
    .reactionSummary {
        display: none !important;
    }

    .reactionsBar .reactionsBar-link:before {
        content: "\2713";
        font-weight: 700 !important;
        margin-right: 5px !important;
    }

    .reactionsBar .reactionsBar-link:hover {
        color: var(--txt-color-1) !important;
    }

    .reaction.has-reaction img {
        display: none !important;
    }

    .reaction.has-reaction .reaction-text,
    .reaction.has-reaction:before {
        color: var(--brand-color) !important;
        font-weight: 500 !important;
        font-size: var(--fontSizeSmaller);
        content: "\2713";
    }

    .XenBase .block--messages .message .message-content .bbCodeBlock-title {
        background-color: var(--bg-color-5) !important;
    }

    .XenBase .block--messages .message .message-content .bbCodeBlock-title a {
        color: var(--txt-color-1) !important;
    }

    .XenBase .block--messages .message .message-content .bbCodeBlock-title a:before {
        content: "\21EA";
        margin-right: 3px !important;
        margin-top: -1px !important;
    }

    .XenBase .block--messages .message .message-content .bbCodeBlock-title a:hover {
        color: var(--link-hover-color-1) !important;
        text-decoration: none !important;
    }

    .bbCodeBlock-content {
        background-color: var(--bg-color-1) !important;
        color: var(--txt-color-1) !important;
    }

    .message-footer .message-actionBar {
        border-top: 0 !important;
        padding-top: 2px !important;
        padding-bottom: 5px !important;
    }

    .message-footer .message-actionBar a:hover {
        color: var(--txt-color-1) !important;
    }

    .bbCodeBlock.bbCodeBlock--screenLimited.bbCodeBlock--code,
    .bbCodeBlock--expandable,
    .bbCodeBlock--unfurl,
    .bbCodeBlock--unfurl .fauxBlockLink,
    .bbCodeBlock--spoiler {
        border: 0 !important;
        border-left: 4px solid var(--txt-gray-color-1) !important;
        background-color: var(--bg-color-2) !important;
    }
    
    .message-inner:not(:first-child) {
        border-top: 1px solid var(--border-color-3) !important;
    }

    .block--messages {
        margin-bottom: 0 !important;
    }

    .bbWrapper b {
        font-weight: 700 !important;
    }

    .show-placeholder .fr-placeholder {
        color: var(--txt-color-4) !important;
    }

    .p-title-pageAction a,
    .buttonGroup .button--link.button,
    .formButtonGroup-extra a,
    .formButtonGroup button,
    .formSubmitRow-main button,
    .button--link,
    .menu-footer-controls button,
    .menu-footer-controls a.button,
    .js-pageJumpGo.button,
    .button--icon--quote {
        color: var(--txt-color-3)!important;
        font-weight: 600 !important;
        background-color: var(--bg-color-2) !important;
        border: 1px solid var(--border-color-3) !important;
    }

    .bbCodeSpoiler button,
    .p-title-pageAction a:hover,
    .buttonGroup .button--link.button:hover,
    .formButtonGroup-extra a:hover,
    .formButtonGroup button:hover,
    .formSubmitRow-main button:hover,
    .button--link:hover,
    .menu-footer-controls button:hover,
    .menu-footer-controls a.button:hover,
    .pageNavSimple-el.pageNavSimple-el--current:hover,
    .js-pageJumpGo.button:hover,
    .button--icon--quote:hover {
        background-color: var(--border-color-3) !important;
    }

    .pageNavSimple-el.pageNavSimple-el--current {
        background-color: var(--bg-color-2) !important;
        color: var(--txt-color-1) !important;
        border: 1px solid var(--border-color-3) !important;
    }

    .buttonGroup a {
        margin: 0 0 3px 3px !important; 
    }

    .inputNumber-button {
        color: var(--border-color-2) !important;
    }

    .inputNumber-button:hover {
        background-color: var(--bg-color-2) !important;
        color: var(--border-color-2) !important;
    }

    .p-title-pageAction .button,
    .p-body-main .button,
    .button--scroll.button {
        color: var(--border-color-2) !important;
        background-color: var(--bg-color-7) !important;
        border-color: var(--border-color-3) !important;
    }

    .p-title-pageAction .button:hover,
    .p-body-main .button:hover,
    .button--scroll.button:hover {
        color: var(--txt-color-3) !important;
        background-color: var(--border-color-3) !important;
        border-color: var(--border-color-3) !important;
    }

    .menu-footer-controls button,
    .menu-footer-controls a.button,
    .js-pageJumpGo.button {
        border-color: var(--border-color-3) !important;
    }

    .bbCodeSpoiler-button:not(.is-active) {
        background-color: var(--border-color-3) !important;
        border-color: var(--border-color-2) !important;
    }

    .bbCodeSpoiler-button.is-active {
        background-color: var(--txt-gray-color-2) !important;
        border-color: var(--txt-gray-color-2) !important;
    }

    .bbCodeSpoiler-button.is-active:before {
        content: "\25BC" !important;
        color: var(--txt-color-1) !important;
        font-size: var(--fontSizeSmaller) !important;
        margin-right: 5px !important;
    }

    .bbCodeSpoiler-button.is-active .button-text,
    .menu-footer-controls button {
        color: var(--txt-color-1) !important;
    }

    .bbCodeSpoiler-button:not(.is-active):hover {
        border-color: var(--border-color-2) !important;
        background-color: var(--border-color-3) !important;
    }

    .avatar,
    .avatar.avatar--xxs.avatar--default,
    .avatar.avatar--xs.avatar--default,
    .avatar.avatar--s.avatar--default,
    .avatar.avatar--m.avatar--default,
    .message-avatar-wrapper a,
    .structItem-iconContainer a,
    .memberTooltip-avatar a {
        background-color: var(--bg-color-1) !important;
        color: var(--txt-color-4) !important;
    }

    .avatar {
        border: 2px solid var(--bg-color-3) !important;
        border-radius: 0 !important;
    }

    .message-avatar-wrapper {
        padding-top: 0 !important;
    }

    .p-body-inner .p-breadcrumbs--parent .p-breadcrumbs {
        background-color: var(--bg-color-2) !important;
    }

    .p-body-inner .p-breadcrumbs--bottom {
        position: sticky !important;
        bottom: -1px !important;
        z-index: 100 !important;
        width: 100% !important;
    }

    .pageNav a,
    .p-breadcrumbs a,
    .button-text,
    .bbWrapper .bbCodeBlock-expandLink a {
        color: var(--txt-color-3) !important;
        font-weight: 600 !important;
    }

    .pageNav a:hover,
    .p-breadcrumbs a:hover,
    .button-text:hover,
    .bbWrapper .bbCodeBlock-expandLink a:hover {
        color: var(--txt-color-1) !important;
    }

    .pageNav-page--current a {
        background-color: var(--border-color-3) !important;
    }

    .pageNav-page.pageNav-page--current {
        border: 0 !important;
        /* clear */
        border: 1px solid var(--txt-gray-color-2) !important;
        background: var(--transparent) !important;
    }

    .pageNav-page, .pageNav-jump {
        background: var(--bg-color-2) !important;
        border-color: var(--border-color-3) !important;
    }

    .bbWrapper .username,
    .bbWrapper .link.link--internal,
    .bbWrapper .link.link--external,
    .bbWrapper > a,
    .bbWrapper .bbCodeBlock-expandContent a,
    .attachment-name a,
    .fr-wrapper a,
    .fauxBlockLink-linkRow.u-concealed {
        color: var(--link-external-color) !important;
    }

    .bbWrapper .bbCodeBlock-expandContent .username {
        color: #fafafa !important;
        font-weight: 500;
    }

    .bbWrapper .link.link--external:after {
        content: "\29C9" !important;
        font-size: var(--fontSizeSmall) !important;
        margin-right: 0.3em !important;
        margin-left: 0.2em !important;
        text-decoration: none !important;
    }

    .bbWrapper .link.link--external:hover:after {
        text-decoration: none !important;
    }
    
    .message-body .bbWrapper {
        color: var(--link-hover-color-2) !important;
    }

    .message-body .bbWrapper br {
        content: "";
        margin: 2em !important;
        display: block !important;
        font-size: 24% !important;
    }

    .xb-footer-block.xb-footer-block-1 {
        color: var(--txt-color-1) !important;
        font-weight: 500 !important;
    }

    .xb-footer-block.xb-footer-block-1 img {
        opacity: 0.8 !important;
    }

    .bbCodePreview {
        margin-left: 20px !important;
    }

    .p-navEl.is-menuOpen a {
        color: var(--txt-gray-color-3) !important;
    }

    .blockStatus {
        border-left: 3px solid var(--border-color-2);
    }

    .formButtonGroup-primary {
        margin-left: 5px !important;
    }

    .message-footer {
        margin-top: 10px !important;
        border-top: 1px dashed var(--border-color-4) !important;
    }

    .message-footer:after {
        clear: both !important;
    }

    .message-actionBar.actionBar {
        margin: 0 !important;
        float: left !important;
    }

    .message-footer .reactionsBar {
        padding-top: 7px !important;
        float: right !important;
        margin-top: 0 !important;
        background-color: var(--transparent) !important;
    }

    .menu .menu-header {
        background-color: var(--border-color-3) !important;
        color: var(--txt-color-1) !important;
    }

    .p-navgroup-link.is-menuOpen {
        color: var(--txt-color-1) !important;
    }

    .blockLink.is-selected {
        border-color: var(--txt-gray-color-1) !important;
    }

    .blockLink {
        border-left: 3px solid var(--transparent) !important;
    }

    .menu-linkRow:hover,
    .blockLink:hover {
        border-left: 3px solid var(--border-color-2) !important;
    }

    .p-pe-copyright {
        color: var(--txt-color-1) !important;
    }

    .contentRow-main a:hover {
        color: var(--txt-color-2) !important;
    }

    .contentRow-minor {
        color: var(--txt-gray-color-1) !important;
    }

    .contentRow-minor a {
        color: var(--txt-color-1) !important;
    }
    
    .xb-content-wrapper .block-container {
        border: 1px solid var(--border-color-3) !important;
    }
    
    .block-container .block-body .node-body {
        background-color: var(--transparent) !important;
    }

    .block-container .block-body .node:hover {
        background-color: var(--bg-color-2) !important;
    }

    .tooltip-content .block-minorHeader,
    .p-body-inner .block-container > h3.block-minorHeader {
        color: var(--txt-color-1) !important;
        background-color: var(--bg-color-2) !important;
    }

    .p-body-inner .block-body .block-row:last-child:not(.block-row--separated) .contentRow {
        border-bottom: 0 !important;
    }
    
    .p-body-inner .block-body .block-row:last-child {
        margin-bottom: 15px !important;
    }

    .block-outer .button--link, .tic--button .button--link {
        border-color: var(--border-color-3) !important;
        margin-left: 5px !important;
        color: var(--border-color-4) !important;
    }

    .block-outer-opposite .button.is-disabled,
    .block-outer-opposite .button.is-disabled:hover {
        color: var(--warnings-txt-color) !important;
        border: 1px solid var(--warnings-border-color) !important;
        background-color: var(--transparent) !important;
    }

    .block-outer-opposite .button.is-disabled:before {
        content: "\26A0" !important;
        margin-right: 5px !important;
    }

    .block-body.block-row dl dt {
        color: var(--txt-color-1) !important;
    }

    .block-body.block-row dl dd {
        color: var(--txt-color-1) !important;
    }

    .block-body.block-row dl dd a.username:before {
        content: "@";
    }

    .block-body.block-row dl dd a.username:hover {
        color: var(--txt-color-2) !important;
    }

    .p-body-main {
        margin-bottom: 10px !important;
    }

    .block-outer.block-outer--after {
        margin-bottom: 10px !important;
    }
    
    .rssfeed-title:first-child {
        border-top: 0 !important;
    }

    .rssfeed-title a,
    .contentRow-main.contentRow-main--close a {
        color: var(--txt-color-1) !important;
        font-size: 0.95em !important;
    }

    .rssfeed-title a:hover,
    .contentRow-main.contentRow-main--close a:hover {
        color: var(--txt-color-2) !important;
    }

    .contentRow-main.contentRow-main--close {
        padding-left: 0 !important;
    }

    .contentRow .contentRow-figure {
        display: none !important;
    }

    .block-tabHeader.tabs {
        border-bottom: 0 !important;
    }

    .xb-page-wrapper.xb-canvas-menuActive > div:first-child,
    .p-header {
        background-color: var(--bg-color-6) !important;
        border: 0 !important;
    }

    .p-header {
        background-color: var(--transparent) !important;
    }

    .p-header-inner {
        background-color: var(--bg-color-4) !important;
    }

    .tagList a {
        border-color: var(--bg-color-3) !important;
        color: var(--txt-color-3) !important;
    }

    .blockStatus-message--locked:before {
        color: var(--txt-color-1) !important;
    }

    .notice-content {
        background-color: var(--bg-color-4) !important;
        color: var(--txt-color-1) !important;
    }

    .notice-content a {
        color: var(--txt-color-1) !important;
    }

    .label {
        box-shadow: none !important;
        border-color: var(--transparent) !important;
    }

    .label--skyBlue, .label--skyBlue:hover {
        background: var(--brand-color) !important;
        border-color: var(--transparent) !important;
        color: var(--black) !important;
        font-weight: 600 !important;
    }

    .autoCompleteList {
        z-index: 1001 !important;
    }

    .autoCompleteList strong {
        color: var(--white) !important;
        font-weight: 700 !important;
    }

    .filterBar a {
        font-weight: 600 !important;
    }

    input.hntf-s-i {
        background-color: var(--border-color-3) !important;
        color: var(--txt-color-1) !important;
        border: 1px solid var(--border-color-2) !important;
    }

    .hntf-s-s {
        background-color: var(--border-color-3) !important;
        color: var(--txt-color-1) !important;
        border: 1px solid var(--border-color-2) !important;
        padding: 6px 15px 5px 15px !important;
        margin-left: 2px !important;
        margin-bottom: 1px !important;
        border-radius: 2px !important;
    }

    .messageNotice.messageNotice--ignored,
    .messageNotice.messageNotice--nested.messageNotice--ignored {
        box-shadow: none !important;
        border: 0 !important;
        border-left: 4px solid var(--warnings-border-color) !important;
        background-color: var(--transparent) !important;
        font-weight: 600 !important;
        color: var(--txt-color-3) !important;
    }

    .messageNotice.messageNotice--ignored:before {
        color: var(--warnings-txt-color) !important;
    }

    .messageNotice.messageNotice--ignored a,
    .messageNotice.messageNotice--nested.messageNotice--ignored a {
        color: var(--txt-color-3) !important;
        font-weight: 600 !important;
    }

    .messageNotice.messageNotice--ignored a:hover,
    .messageNotice.messageNotice--nested.messageNotice--ignored a:hover {
        color: var(--link-hover-color-2) !important;
    }

    .messageNotice.messageNotice--nested.messageNotice--ignored {
        border-left: none !important;
    }

    .messageNotice.messageNotice--warning,
    .messageNotice.messageNotice--warning:before {
        background-color: var(--warnings-bg-color) !important;
        color: var(--warnings-txt-color) !important;
        font-weight: 500 !important;
    }

    .message-cell .messageNotice {
        border-left: 4px solid var(--warnings-txt-color) !important;
    }

    .messageNotice.messageNotice--ignored {
        border-left: 4px solid var(--warnings-border-color) !important;
    }

    .messageNotice:before {
        color: var(--black) !important;
        font-weight: 400 !important;
    }

    .menu-row.menu-row--highlighted {
        border: 0 !important;
    }

    .fauxBlockLink .fauxBlockLink-blockLink {
        color: var(--txt-color-2) !important;
    }

    .fauxBlockLink .username {
        font-weight: 600 !important;
        color: var(--txt-color-2) !important;
    }

    .fauxBlockLink .fauxBlockLink:hover,
    .fauxBlockLink .username:hover {
        color: var(--white) !important;
    }

    .node-extra--inner {
        text-align: right !important;
    }

    .message-avatar-online {
        display: none !important;
    }

    .message-avatar.message-avatar--online .message-avatar-wrapper .avatar {
        border-bottom: 2px outset var(--brand-color) !important;
    }

    .bbCodeBlock-sourceJump {
        font-weight: 600 !important;
        font-size: var(--fontSizeSmaller) !important;
    }

    .bbCodeBlock-sourceJump:after {
        content: "" !important;
    }

    .tooltip--basic .tooltip-content {
        border: 1px solid var(--warnings-border-color) !important;
        background: var(--bg-color-2) !important;
    }

    .tooltip--basic.tooltip--bottom .tooltip-arrow {
        border-bottom-color: var(--warnings-border-color) !important;
    }

    .node .node-body .node-extra .node-extra-icon {
        display: none !important;
    }

    .message-newIndicator.message-bannedIndicator {
        background-color: var(--warnings-bg-color) !important;
        color: var(--warnings-txt-color) !important;
        border-color: var(--warnings-border-color) !important;
    }

    .message-newIndicator.message-bannedIndicator:before {
        content: "\26A0" !important;
    }

    .contentRow-minor.contentRow-minor--hideLinks a:before {
        content: "\00BB" !important;
        margin-right: 3px !important;
    }

    a.actionBar-action.is-selected,
    a.actionBar-action.is-selected:hover {
        border: 0 !important;
        border-bottom: 1px dashed var(--brand-color) !important;
        background-color: var(--transparent) !important;
        color: var(--brand-color) !important;
    }

    .structItem-cell.structItem-cell--icon.structItem-cell--iconEnd {
        display: none !important;
    }

    .structItemContainer-group:not(.structItemContainer-group--sticky) .structItem:first-child {
        border-top: 0 !important;
    }

    .message-attribution-main {
        font-weight: 500 !important;
    }
    
    .message-attribution--split {
        border-bottom: 1px dashed var(--border-color-2) !important;
    }
    
    .subNodeLink-icon {
        color: var(--txt-gray-color-3) !important;
    }
    
    .message-userArrow {
        background-color: transparent !important;
    }
    
    .avatar.avatar--s img {
        display: none !important;
    }

    @media only screen and (min-width: 650px) {
        .block-outer {
            display: flex !important;
        }

        .block-outer-main {
            float: none !important;
        }

        .block-outer-opposite {
            float: none !important;
            margin-left: auto !important;
        }
    }

    @media only screen and (max-width: 1080px) {
        .button.xb-sidebar-default,
        .p-sidebar-inner {
            display: none !important;
        }
    }
}
