/* ==UserStyle==
@name           NHL66.ir player scale
@namespace      main
@author         johnnymadrid
@description    NHL66.ir player scale
@version        20231012.01.01
@license        NO-REDISTRIBUTION
@preprocessor   uso
==/UserStyle== */
@-moz-document url-prefix("https://nhl66.ir") {
    .layout-default {
        grid-template-columns: 10fr 1fr !important;
    }

    .layout-default > aside.chat-wrapper,
    .layout-default > .predictions-wrapper,
    .layout-default > nav {
        display: none !important;
    }

    .leaderboard,
    header aside {
        display: none !important;
    }
}
